@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
  src: url("./assets/font/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

:root {
  --accent: #197278;
  --background: #FFFFFF;
  --text: #141414;
  --text-muted: #ADADAD;
  /* 707070 */

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 20px;
  --radius-full: 999px;
}

@layer reset {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  button,
  input {
    font: inherit;
    background-color: transparent;
    border: 0;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    font-family: "OpenSans", sans-serif;
  }

  li {
    list-style: none;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  ::-moz-selection {
    color: white;
    background: var(--accent);
  }

  ::selection {
    color: white;
    background: var(--accent);
  }
}

@layer utility {
  .hover {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: 2px solid var(--accent);
    }
  }
}

@layer layout {
  .container {
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  header {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-inline: auto;

    h1 {
      font-size: var(--font-lg);
      font-weight: 700;
    }

    @media (min-width: 1024px) {
      max-width: 1200px;
    }
  }

  footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-inline: auto;

    @media (min-width: 1024px) {
      max-width: 1200px;
    }
  }

  main {
    flex: 1;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@layer component {
  .show-queue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #f1f6f7;
    color: var(--text-muted);
    border: 1px solid #f1f6f7;
    font-size: var(--font-sm);
    padding: 8px;
    border-radius: var(--radius-lg);
    cursor: pointer;

    &:hover {
      border: 1px solid #dde0e0;
      background-color: var(--background);
    }

    &:focus-visible {
      outline: 2px solid var(--accent);
    }
  }

  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F0F0F0; 
    /* 141414 */
    padding: 8px 12px;
    border-radius: 30px;
    width: 100%;

    input {
      width: 100%;
      outline: 0;
      padding: 8px;
      font-size: var(--font-base);
      color: var(--text);

      &::placeholder {
        color: var(--text-muted);
      }
    }

    button {
      background-color: transparent;
      padding: 8px;
      display: flex;
      border-radius: 30px;
    }
  }

  .task-item {
    font-size: var(--font-2xl);
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
      background: var(--text);
      width: 60px;
      height: 60px;
      border-radius: var(--radius-full);
      margin-top: 1rem;
    }
  }

  .empty-state {
    margin-bottom: 3rem;

    h2 {
      font-size: var(--font-lg);
      font-weight: 600;
      color: var(--text);
    }

    p {
      margin-top: 0.5rem;
      font-size: var(--font-base);
      color: var(--text-muted);
    }
  }

  .current-task-wrapper {
    margin-bottom: 3rem;
  }

  .overlay {
    background-color: rgba(25, 114, 120, 0.05);
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
    display: none;
    z-index: 10;
  }

  .queue-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 100%;
    max-width: 24rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;

    .queue-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: var(--font-xl);
        font-weight: 600;
        color: var(--text);
      }

      .close-queue-btn {
        padding: 4px;
        border-radius: var(--radius-sm);
      }
    }

    .queue-list-wrapper {
      flex: 1;
      margin-top: 2rem;

      li {
        text-align: start;
        font-size: var(--font-base);
        color: var(--text);
      }
    }
  }

  .queue-footer {
    font-size: var(--font-xs);
    color: var(--text-muted);
    border-top: 1px solid #ddf0f0;
    padding-top: 6px;
  }
}

.footer-action-btns {
  position: relative;

  button {
    position: absolute;
  }

  #close-info-btn {
    display: none;
  }
}

.info-wrapper {
  display: none;
  flex-direction: column;
  background-color: var(--background);
  width: 100%;
  max-width: 24rem;
  padding: 1.5rem;
  position: fixed;
  bottom: 60px;
  left: 10px;
  border: 1px solid #dde0e0;
  border-radius: 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font-sm);
}

.add-timer-btn {
  display: none;
}