@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
  src: url("./assets/font/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

:root {
  --accent: #197278;
  --background: #fff;
  --text: #020808;
}

@layer reset {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  button,
  input {
    font: inherit;
    background-color: transparent;
    border: 0;
  }

  body {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    font-family: "OpenSans", sans-serif;
  }

  li {
    list-style: none;
  }

  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hover {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &:focus-visible {
      outline: 2px solid var(--accent);
    }
  }
}

@layer component {
  .container {
    width: 100%;
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  header,
  footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin-inline: auto;

    h1 {
      font-size: 1.25rem;
    }

    @media (min-width: 1024px) {
      max-width: 1200px;
    }
  }

  .show-queue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: #f1f6f7;
    color: #353838;
    border: 1px solid #f1f6f7;
    font-size: 0.85rem;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      border: 1px solid #dde0e0;
      background-color: #fff;
    }

    &:focus-visible {
      outline: 2px solid var(--accent);
    }
  }

  main {
    flex: 1;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ddf0f0;
    padding: 8px 12px;
    border-radius: 30px;
    width: 100%;
    margin-top: 6rem;

    input {
      width: 100%;
      outline: 0;
      padding-inline: 4px;
    }

    button {
      background-color: var(--accent);
      padding: 8px;
      display: flex;
      border-radius: 30px;
    }
  }

  .task-item {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    button {
      background: #000;
      width: 60px;
      height: 60px;
      border-radius: 999px;
      margin-top: 1rem;
    }
  }

  .empty-state p {
    margin-top: 0.5rem;
    opacity: 0.7;
  }

  .empty-state h2 {
    opacity: 0.9;
  }

  .overlay {
    background-color: rgb(68 64 60 / 0.05);
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: none;
  }

  .queue-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    max-width: 24rem;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;

    .queue-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1.5rem;
      }

      .close-queue-btn {
        padding: 4px;
        border-radius: 4px;
      }
    }

    .queue-list-wrapper {
      flex: 1;
      margin-top: 2rem;

      li {
        text-align: start;
      }
    }
  }
}
